priority -50

snippet ifmain "ifmain" b
if (require.main === module) {
  main()
}
endsnippet

snippet importlodash "importlodash" b
import _ from "lodash";
endsnippet

snippet importfrom "import from module" b
import ${2:name} from "${1:module}";
endsnippet
